cmake-build-debug/
.idea/
.vscode/
build/
_packages

# Compilation artifacts
*.o
*.so
*.a
*.la
*.lo
.libs/
.deps/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# OS files
.DS_Store
Thumbs.db

# Backup files
*~
*.bak
*.swp
*.swo

# Log files
*.log